@import '~antd/dist/antd.css';



.home-heading-container {
    margin-top: 30px;
}

.homepage-col{
    padding: 10px 20px ;
}

.crypto-card-container {
    margin-top: 30px;
}

/* news */
.news-card {
    min-height: 260px;
}

.news-content-wrapper {
}

.news-image-container {
    float: right;
    padding: 3px;
    height: 100%;
}


/* crypto details */
.coin-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.coin-heading-container{
    text-align: center;
}

.coin-stats {
    border-bottom: solid 1px black;
    padding: 20px 5px
}

.stats-container {
    width: 60%;
}
.coin-details-heading {
    margin: 55px 0px 0px 0px;
}

.coin-stats-name {
    display: inline;
}
.coin-stats-value {
    float: right;
    font-weight: bold;
}

/* avatar */
.anticon { 
    padding: 5px;
}

.ant-row.coin-link {
    border-bottom: solid 1px black;
    padding: 10px 5px;
    display: block;
}

.link-name {
    display: inline;
    font-size: 100px;
    /* border: solid 1px */
}
.link-url {
    display: blcok;
    float: right;
    /* border: solid 1px */
}

/* line chart */
.chart-header {
    width: 60%;
    display: inline-block;
    /* border: solid 1px; */
    height: 40px;
}
.chart-title {
    display: inline;
    /* border: solid 1px; */

}
.price-container {
    margin: 0;
    height: 40px;
    width: 300px;
    float: right;
    /* border: solid 1px; */

}
.price-change ,.current-price{
    /* border: solid 1px; */
    padding: 0px 10px;
    display: inline-block;
    /* margin-bottom: 0px; */
}