@import '~antd/dist/antd.css';



.home-heading-container {
    margin-top: 30px;
}

.homepage-col{
    padding: 10px 20px ;
}

.crypto-card-container {
    margin-top: 30px;
}

/* news */
.news-card {
    min-height: 260px;
}

.news-content-wrapper {
}

.news-image-container {
    float: right;
    padding: 3px;
    height: 100%;
}


/* crypto details */
.coin-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.coin-heading-container{
    text-align: center;
}

.coin-stats {
    border-bottom: solid 1px black;
    padding: 20px
}

.coin-stats-name {
    display: inline-block;
}
.coin-stats-value {
    display: inline-flex;
    justify-content: right;
    font-weight: bold;

    /* float: right; */
}